* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

.header,
footer {
  background-color: #0054a6;
}

.header > .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  height: 5rem;
  padding-left: 1rem;
  color: #fff;
}

#logo {
  width: 30%;
}

.navBar__items {
  display: flex;
}
.navBar__links {
  display: flex;
  margin-right: 1rem;
}

.navBar__links > li {
  margin-right: 1rem;
  color: #fff;
  text-decoration: none;
}
.icon {
  display: flex;
  text-align: center;
}
.main {
  flex-grow: 1;
}

.main > h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 2rem;
  color: #838383;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0px;
}

footer > p {
  color: #fff;
  font-size: 0.6rem;
  font-weight: 100;
}

footer > .navBar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.item {
  margin: 10px;
  border: 1px solid #0054a6;
  border-radius: 5px;
  text-align: center;
}
.item h4 {
  color: rgb(22, 73, 155);
  margin-bottom: 10px;
}
.item h5 {
  color: green;
  margin-bottom: 10px;
}

.item__detail__link {
  font-weight: bold;
}

.item__detail__link:hover {
  color: #0054a6;
  font-size: 18px;
}

/*Items*/
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*Item Detail*/
.item__detail {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.item__detail__container {
  display: flex;
}

.item__detail__text {
  text-align: center;
}

.item__detail__text h2,
h3,
p {
  margin: 0 10px 20px 10px;
}
.item__detail__botonera {
  text-align: center;
}
.item__detail__img img {
  border: 1px solid #c4c4c4;
}

/*Botonera*/

.div__itemcount {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.div__itemcount-botonera {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 40px;
  margin: 1rem;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  justify-content: space-around;
  background-color: #fff;
}

.button__sumar {
  transition-duration: 300ms;
  background-color: rgb(5, 126, 31);
  border: none;
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  clip-path: polygon(
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 65%,
    65% 65%,
    65% 100%,
    35% 100%,
    35% 100%,
    35% 65%,
    0% 65%,
    0% 35%,
    35% 35%
  );
}

.button__restar {
  transition-duration: 300ms;
  background-color: rgb(223, 9, 9);
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  clip-path: polygon(
    65% 35%,
    100% 35%,
    100% 65%,
    35% 65%,
    0% 65%,
    0% 35%,
    35% 35%
  );
}

.button__sumar:hover {
  background-color: rgb(13, 236, 61);
}
.button__restar:hover {
  background-color: rgb(236, 99, 99);
}

.button__agregar {
  padding: 0.7rem 0rem;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgb(22, 73, 155);
  color: rgb(12, 13, 14);
  transition-duration: 300ms;
  margin-bottom: 10px;
}

.button__agregar:hover {
  border: 1px solid #fff;
  background: rgb(182, 196, 218);
}
.section__productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 3rem 2rem;
}

button:hover {
  cursor: pointer;
}

/*Carrito*/
.carrito__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carrito__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0054a6;
  border-radius: 5px;
  margin: 10px;
}
.carrito__item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
.carrito__item__text h3,
h4 {
  margin-bottom: 10px;
}

.carrito__item__delete {
  background-color: red;
  color: #ffff;
  border: 1px solid white;
  width: 50%;
  height: 30px;
  border-radius: 4px;
}
.carrito__item__delete:hover {
  background-color: rgb(236, 99, 99);
}
.carrito__vacio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
}

.carrito__btn__inicio {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(22, 73, 155);
  color: rgb(12, 13, 14);
}

.carrito__btn__inicio:hover {
  border: 1px solid #fff;
  background: rgb(182, 196, 218);
}

/*Formulario Envio*/
.formulario__envio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
form h2 {
  padding-left: 10px;
}
form h2,
h3 {
  margin-bottom: 20px;
}
form input {
  display: block;
  background-color: white;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 30px;
  height: 30px;
  width: 100%;
}

#enviar-button {
  font-size: 14px;
  width: 144px;
  height: 50px;
  background-color: #2a7ae4;
  color: #fff;
  border: none;
}

/*Success*/
.compra__exitosa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.compra__exitosa h1 {
  margin-bottom: 20px;
}
.compra__exitosa__btnVolver {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(22, 73, 155);
  color: rgb(12, 13, 14);
  margin-top: 20px;
}

@media screen and (max-width: 980px) {
  .navBar__links {
    display: none;
  }
  #logo {
    width: 30%;
  }

  .item__detail__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100vh;
  }
  #compra__exitosa__img {
    width: 100%;
  }
}
